

<footer  class="footer">
    
    <div class="contact-link-card-container">
        <app-contact-link-card></app-contact-link-card>
    </div>

    <div  class="footer-content">
        <a routerLink="">
            <img class="footer-logo" src="/shared/desktop/logo-light.png" />
        </a>
        <div class="line-break"></div>
        <div class="footer-page-links">
            <a class="footer-link" routerLink="about" routerLinkActive="active"> our company</a>
            <a class="footer-link" routerLink="locations" routerLinkActive="active">locations</a>
            <a class="footer-link" routerLink="contact" routerLinkActive="active">contact</a>
        </div>
        <div class="footer-hq-address">
            <p class="footer-hq-address-name">Designo Central Office</p>
            <p class="footer-hq-address">3886 Wellington Street</p>
            <p class="footer-hq-address">Toronto, Ontario M9C 3J5</p>
        </div>
        <div class="footer-contact">
            <p class="footer-contact-title">Contact Us (Central Office)</p>
            <p class="footer-phone"> P: +1 253-863-8967</p>
            <p class="footer-email"> M: contact&#64;designo.co</p>
        </div>
        <div class="footer-social-links">
            <img src="/shared/desktop/icon-facebook.svg"/>
            <img src="/shared/desktop/icon-youtube.svg"/>
            <img src="/shared/desktop/icon-twitter.svg"/>
            <img src="/shared/desktop/icon-pinterest.svg"/>
            <img src="/shared/desktop/icon-instagram.svg"/>
        </div>
    </div>
</footer>
