<div class="value-cards-container">
    <div class="value-card">
        <div class="value-card-img-container">
            <img class="value-card-img" src="/home/desktop/illustration-passionate.svg" alt="An illustration of a person sitting at a desk drawing something on a tablet, the person is facing the front."/>
            <img class="value-card-img-circle" src="/shared/desktop/bg-pattern-small-circle.svg" aria-hidden="true"/>
        </div>
        <div class="value-card-content">
            <h2 class="value-card-title">PASSIONATE</h2>
            <p class="value-card-text">Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.</p>
        </div>
    </div>

    <div class="value-card">
        <div class="value-card-img-container">
            <img class="value-card-img" src="/home/desktop/illustration-resourceful.svg" alt="An illustration of a person sitting at a desk drawing something on a tablet. The person is facing the back." />
            <img class="value-card-img-circle circle-bottom" src="/shared/desktop/bg-pattern-small-circle.svg" aria-hidden="true"/>
        </div>
        <div class="value-card-content">
            <h2 class="value-card-title">RESOURCEFUL</h2>
            <p class="value-card-text">Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.</p>
        </div>
    </div>

    <div class="value-card">
        <div class="value-card-img-container">
            <img class="value-card-img" src="/home/desktop/illustration-friendly.svg" alt="An illustration of 2 people holding a poster that has the symbol for sharing on it, they are both smiling and looking at each other." />
            <img class="value-card-img-circle circle-top" src="/shared/desktop/bg-pattern-small-circle.svg" aria-hidden="true"/>
        </div>
        <div class="value-card-content">
            <h2 class="value-card-title">FRIENDLY</h2>
            <p class="value-card-text"> We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.</p>
        </div>
    </div>
</div>
