<div class="location-page">
    <section class="location-container content-left" start="3" id="canada">
        <picture class="image-container">
            <source media="(min-width: 1440px)" srcset="/locations/desktop/image-map-canada.png">
            <source media="(min-width: 500px)" srcset="/locations/tablet/image-map-canada.png">
            <img class="location-img" src="/locations/desktop/image-map-canada.png" alt="Google maps showing the area in ontario canada around where the Designo Canada office is located." />
        </picture>

        <div class="content-container">
            <h1 class="location-title"> Canada</h1>
            <div class="location-page-content-container">
                <h3 class="location-page-content-title">Designo Central Office</h3>
                <p class="location-content-text">3889 Wellington Street</p>
                <p class="location-content-text">Toronto, Ontario M9C 3J5</p>
            </div>
            <div class="location-page-content-container">
                <h3 class="location-page-content-title">Contact</h3>
                <p class="location-content-text">P : +1 253-863-8967</p>
                <p class="location-content-text">M : contact&#64;designo.co</p>
            </div>
        </div>
    </section>

    <section class="location-container" start="3" id="australia">
        <picture class="image-container">
            <source media="(min-width: 1440px)" srcset="/locations/desktop/image-map-australia.png">
            <source media="(min-width: 500px)" srcset="/locations/tablet/image-map-australia.png">
            <img class="location-img" src="/locations/desktop/image-map-australia.png" alt="Google maps showing the area in New South Wales around where the Designo Australia office is located." />
        </picture>

        <div class="content-container">
            <h2 class="location-title">Australia</h2>

            <div class="location-page-content-container">
                <h3 class="location-page-content-title">Designo AU Office</h3>
                <p class="location-content-text">19 Balonne Street</p>
                <p class="location-content-text">New South Wales 2443</p>
            </div>
            <div class="location-page-content-container">
                <h3 class="location-page-content-title">Contact</h3>
                <p class="location-content-text">P : (02) 6720 9092</p>
                <p class="location-content-text">M : contact&#64;designo.au</p>
            </div>
        </div>
    </section>

    <section class="location-container content-left" start="3" id="united-kingdom">
        <picture class="image-container">
            <source media="(min-width: 1440px)" srcset="/locations/desktop/image-map-united-kingdom.png">
            <source media="(min-width: 500px)" srcset="/locations/tablet/image-map-uk.png">
            <img class="location-img" src="/locations/desktop/image-map-united-kingdom.png" alt="Google maps showing the area in the United Kingdom around where the Designo UK office is located." />
        </picture>
        <div class="content-container">
            <h2 class="location-title">United Kingdom</h2>

            <div class="location-page-content-container">
                <h3 class="location-page-content-title">Designo UK Office</h3>
                <p class="location-content-text">13 Colorado Way</p>
                <p class="location-content-text">Rhyd-y-fro SA8 9GA</p>
            </div>
            <div class="location-page-content-container">
                <h3 class="location-page-content-title">Contact</h3>
                <p class="location-content-text">P : 078 3115 1400</p>
                <p class="location-content-text">M : contact&#64;designo.uk</p>
            </div>
        </div>
    </section>
</div>
