.location-page {
    width: 100%;
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.image-container {
    width: 100%;
}

.location-img {
    min-width: 100%;
    object-fit: cover;
    height: 320px;
}

.content-container {
    background-color: var(--light-grey);
    width: 100%;
    background-image: url("/shared/desktop/bg-pattern-two-circles.svg");
    background-position: center;
    padding-bottom: 40px;
}

.location-page-content-container {
    margin-bottom: 40px;
}

.location-title {
    color: var(--peach);
    font-size: 3.2rem;
    font-weight: 500;
    margin-top: 70px;
}

.location-page-content-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.location-content-text {
    margin-top: 8px;
    font-size: 1.5rem;
    line-height: 10px;
}

/* //////////////// media query /////////////// */

@media (min-width: 700px) {

    .location-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location-container {
        gap: 30px;
        width: 90%;
        margin-bottom: 100px;
    }

    .content-container {
       display: grid;
       grid-template-areas: 
       "title   title  "
       "address contact";
       padding-left: 80px;
       border-radius: 10px;
    }

    .location-title {
        grid-area: title;
        text-align: left;
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .location-page-content-container {
        text-align: left;
    }

    .location-img {
        border-radius: 10px;
    }


}

@media (min-width: 1440px) {
    .location-container {
        flex-direction: row;
        width: 85%;
    }

    .image-container {
        width: 30%;
    }

    .content-container {
        width: 70%;
    }

    .content-left {
        flex-direction: row-reverse;
    }

    .content-container {
        grid-template-columns: 300px 1fr;
    }
}