<div class="about-page-container">
    <section class="about-section-container short-section content-left">
        <picture class="about-image-container">
            <source media="(min-width: 1440px)" srcset="/about/desktop/image-about-hero.jpg">
            <source media="(min-width: 700px)" srcset="/about/tablet/image-about-hero.jpg">
            <img class="about-image image-right short-image" src="/about/mobile/image-about-hero.jpg" alt="Top down view of business meeting, there are people talking, laptops, cellphones, and notebooks. All of it on top of a wood desk." />
        </picture >
        <div class="about-content-peach about-content-left">
            <h1 class="about-content-section-title">About Us</h1>
            <p class="about-content-text">Founded in 2010, we are a creative agency that produces lasting results for our clients. We’ve partnered with many startups, corporations, and nonprofits alike to craft designs that make real impact. We’re always looking forward to creating brands, products, and digital experiences that connect with our clients’ audiences.</p>
        </div>   
    </section>

    <section class="about-section-container tall-section">
        <picture class="about-image-container">
            <source media="(min-width: 1440px)" srcset="/about/desktop/image-world-class-talent.jpg">
            <source media="(min-width: 700px)" srcset="/about/tablet/image-world-class-talent.jpg">
            <img class="about-image image-left" src="/about/mobile/image-world-class-talent.jpg" alt="A woman standing with her back to the camera, looking at the wall in front of her which has photos taped to it. The room is white with a desk in the corner."/>
        </picture>
        <div class="about-content-white about-content-right">
            <h2 class="about-content-section-title peach-title">World-class Talent</h2>
            <p class="about-content-text">We are a crew of strategists, problem-solvers, and technologists. Every design is thoughtfully crafted from concept to launch, ensuring success in its given market. We are constantly updating our skills in a myriad of platforms.   </p> 
            <p class="about-content-text">Our team is multi-disciplinary and we are not merely interested in form — content and meaning are just as important. We give great importance to craftsmanship, service, and prompt delivery. Clients have always been impressed with our high-quality outcomes that encapsulates their brand’s story and mission.</p>
        </div>
    </section>

    <app-location-card></app-location-card>

    <section class="about-section-container tall-section content-left">
        <picture class="about-image-container">
            <source media="(min-width: 1440px)" srcset="/about/desktop/image-real-deal.jpg">
            <source media="(min-width: 700px)" srcset="/about/tablet/image-real-deal.jpg">
            <img class="about-image image-right" src="/about/mobile/image-real-deal.jpg" alt="A womans hands taking a picture off the wall that was held on by a piece of tape. The photo she is taking off is of an outdoor desert landscape."/>
        </picture>
        <div class="about-content-white about-content-left">
            <h2 class="about-content-section-title peach-title">The Real Deal</h2>
            <p class="about-content-text">As strategic partners in our clients’ businesses, we are ready to take on any challenge as our own. Solving real problems require empathy and collaboration, and we strive to bring a fresh perspective to every opportunity. We make design and technology more accessible and give you tools to measure success.</p>
            <p class="about-content-text">We are visual storytellers in appealing and captivating ways. By combining business and marketing strategies, we inspire audiences to take action and drive real results.</p>
        </div>
    </section>
</div>
