<section class="location-card-section-container">
    <div class="location-card-container">
        <div class="location-card-img-container">
           <img class="location-img" src="/shared/desktop/illustration-canada.svg" />
           <img class="location-circle-img circle-top" src="/shared/desktop/bg-pattern-small-circle.svg" aria-hidden="true"/>
        </div>
        <div class="location-card-content">
            <h3 class="location-card-title">Canada</h3>
            <a routerLink="" class="location-card-link">see location</a>
        </div>
    </div>

    <div class="location-card-container">
        <div class="location-card-img-container">
            <img class="location-img" src="/shared/desktop/illustration-australia.svg" />
            <img class="location-circle-img" src="/shared/desktop/bg-pattern-small-circle.svg" aria-hidden="true"/>
         </div>
         <div class="location-card-content">
             <h3 class="location-card-title">australia</h3>
             <a routerLink="" class="location-card-link">see location</a>
         </div>
    </div>

    <div class="location-card-container">
        <div class="location-card-img-container">
            <img class="location-img" src="/shared/desktop/illustration-united-kingdom.svg" />
            <img class="location-circle-img circle-bottom" src="/shared/desktop/bg-pattern-small-circle.svg" aria-hidden="true"/>
         </div>
         <div class="location-card-content">
             <h3 class="location-card-title"> united kingdom</h3>
             <a routerLink="" class="location-card-link">see location</a>
         </div>
    </div>
</section>
