.design-page-title-section {
    background-color: var(--peach);
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    color: var(--white);
    background-image:url("/shared/desktop/bg-pattern-call-to-action.svg");
    background-position: bottom left;
    margin-bottom: 60px;
}

.design-page-title {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.design-page-subtitle {
    font-size: 1.5rem;
    max-width: 400px;
}

.design-page-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.design-page-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    width: 90%;
    max-width: 400px;
}

.design-page-project-image {
    width: 100%;
    object-fit: cover;
    max-height: 320px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.design-page-project-content {
    background-color: var(--light-grey);
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition-property:  background-color;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.hover-background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 400ms ease-in;
    border-radius: 15px;
}

.design-page-project-title {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--peach);
    font-weight: 500;
    letter-spacing: 4px;
}

.design-page-project-desc {
    font-size: 1.6rem;
    
}

.design-card-section {
    margin: 0 auto;
    width: 90%;
}

.design-card-section  {
    margin-top: 80px;
    margin-bottom: 300px;
}

.design-card-link {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--white);
    border-radius: 15px;
    margin-bottom: 30px;
}

.web-design,
.app-design,
.graphic-design {
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.web-design {
    background-image: url("/home/mobile/image-web-design.jpg");
}

.app-design {
    background-image: url("/home/mobile/image-app-design.jpg");
}

.graphic-design {
    background-image: url("/home/mobile/image-graphic-design.jpg");
}

.design-card-title {
    font-size: 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.design-card-cta {
    font-size: 1.6rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 5px;
    transform: scale(1, .9);
}

.arrow {
    color: var(--peach);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding-bottom: 3px;
}

.active-link {
    display: none
}

/* /////////////////// hover ////////////////////// */

.design-page-project-content:hover {
    cursor: pointer;
    background-color: var(--peach);
    color: white;
}

.design-page-project-content:hover h2 {
    color: white;
}

.hover-background:hover {
    background-color: rgba(231, 129, 107, .6);
}

/* ////////////// media query /////////////// */

@media (min-width: 700px) {

    .design-card-link {
        height: 200px;
    }

    .web-design {
        background-image: url("/home/tablet/image-web-design.jpg");
    }
    
    .app-design {
        background-image: url("/home/tablet/image-app-design.jpg");
    }
    
    .graphic-design {
        background-image: url("/home/tablet/image-graphic-design.jpg");
    }

    .design-card-title {
        font-size: 4rem;
        margin-bottom: 15px;
    }

    .design-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .design-card-section {
        width: 90%;
        margin-bottom: 20px;
    }

    .design-page-title-section {
        width: 90%;
        border-radius: 10px;
        height: 250px;
        padding-top: 0px;
        margin-bottom: 100px;
    }
    .design-page-project {
        max-width: initial;
        flex-direction: row;
    }

    .design-page-title {
        font-size: 4.8rem;
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .design-page-subtitle {
        font-size: 1.6rem;
    }

    .design-page-project-content {
        width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .design-page-project-title {
        margin-bottom: 0px;
    }

    .design-page-project-image {
        width: 50%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}

@media (min-width: 1440px) {
    .design-card-section {
        display: flex;
        justify-content: space-between;
        width: 85%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .design-page-project {
        flex-direction: column;
        width: 320px;
    }

    .design-page-project-image {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

    .design-page-project-content {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;

    }

    .design-card-link {
        margin-bottom: 30px;
        height: 300px;
        width: 48%;
    }

    .web-design {
        background-image: url("/home/desktop/image-web-design-large.jpg");
    }

    .graphic-design {
        background-image: url("/home/desktop/image-graphic-design.jpg");
    }

    .app-design {
        background-image: url("/home/desktop/image-app-design.jpg");
    }

    .design-page-project {
        width: 350px;
    }

    .design-page-title-section {
        width: 85%;
    }

    .design-page-projects-container {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: space-between;
        padding-right: 0px;
    }
}