<div class="design-page">
    <section class="design-page-title-section">
        <h1 class="design-page-title">{{titleData[0]}}</h1>
        <p class="design-page-subtitle">{{titleData[1]}}</p>
    </section>

    <section class="design-page-projects-container">
        <ng-container *ngFor="let project of data">
            <div class="design-page-project">
                <img class="design-page-project-image" src="{{project.image}}" alt="'Design for' + project.name"/>
                <div class="design-page-project-content">
                    <h2 class="design-page-project-title">{{project.name}}</h2>
                    <p class="design-page-project-desc">{{project.desc}}</p>
                </div>
            </div>
        </ng-container>
    </section>

    <section class="design-card-section">
        <a routerLink="/web-design" routerLinkActive="active-link" class="design-card-link web-design">
            <div class="hover-background">
                <h2 class="design-card-title">web design</h2>
                <p class="design-card-cta">view projects <strong class="arrow">></strong></p>
            </div>
        </a> 
    
        <a routerLink="/app-design" routerLinkActive="active-link" class="design-card-link app-design">
            <div class="hover-background">
                <h2 class="design-card-title">app design</h2>
                <p class="design-card-cta">view projects <strong class="arrow">></strong></p>
            </div>
        </a>
    
        <a routerLink="/graphic-design" routerLinkActive="active-link" class="design-card-link graphic-design"> 
            <div class="hover-background">
                <h2 class="design-card-title">graphic design</h2>
                <p class="design-card-cta">view projects <strong class="arrow">></strong></p>
            </div>
        </a>
    </section>
</div>
