body {
    overflow-x: hidden;
    margin: 0px;
    --peach: #E7816B;
    --light-peach: #FFAD9B;
    --black: #1D1C1E;
    --dark-grey: #333136;
    --white: #FFFFFF;
    --light-grey: #F1F3F5;
    font-family: "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body.disable-scroll {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }
/* 
:focus:not(:focus-visible) {
    outline: none;
} */

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}