<div class="home-page-hero">
    <h1 class="home-page-hero-title">Award-winning custom designs and digital branding solutions</h1>
    <p class="home-page-hero-text">With over 10 years in the industry, we are experienced in creating fully responsive websites, app design, and engaging brand experiences. Find out more about our services.</p>
    <a routerLink="/about" class="home-page-hero-link"> Learn More </a>
    <div class="home-page-hero-img-container">
        <img class="home-page-hero-img" src="/home/desktop/image-hero-phone.png" />
    </div>
</div>
