
.home-page-hero {
    background-image: url("/home/desktop/bg-pattern-hero-home.svg");
    background-color: var(--peach);
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-repeat: no-repeat;
    color: var(--white);
    padding-left: 22px;
    padding-right: 22px;
}

.home-page-hero-img {
    width: 680px;
    overflow: hidden;
}

.home-page-hero-img-container {
    overflow: hidden;
    width: fit-content;
    width: 600px;
    position: absolute;
    bottom: 0px;
}

.home-page-hero-title {
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 38px;
    margin-top: 90px;
    margin-bottom: 5px;
    max-width: 550px;
}

.home-page-hero-text {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 25px;
    max-width: 430px;
}

.home-page-hero-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    width: 150px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
}

.home-page-design-links {
    background-color: var(--white);
    padding-top: 100px;
}

.home-page-values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 0px;
}

.design-card-link {
    height: 250px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--white);
    border-radius: 15px;
}

.web-design,
.app-design,
.graphic-design {
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.web-design {
    background-image: url("/home/mobile/image-web-design.jpg");
}

.app-design {
    background-image: url("/home/mobile/image-app-design.jpg");
}

.graphic-design {
    background-image: url("/home/mobile/image-graphic-design.jpg");
}

.design-card-title {
    font-size: 2.8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.design-card-cta {
    font-size: 1.6rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 5px;
    transform: scale(1, .9);
}

.arrow {
    color: var(--peach);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding-bottom: 3px;
}

.active-link {
    display: none
}

.home-page-design-links {
    width: 90%;
    margin: 0 auto;
    padding-top: 0px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.design-card-container-1 {
    width: 100%;
}

.design-card-container-2 {
    width: 100%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.design-card-link {
    width: 100%;
    height: 250px;
}

/* /////////////////// media query ////////////////// */



@media (min-width: 700px) {

    .design-card-link {
        height: 200px;
    }

    .web-design {
        background-image: url("/home/tablet/image-web-design.jpg");
    }
    
    .app-design {
        background-image: url("/home/tablet/image-app-design.jpg");
    }
    
    .graphic-design {
        background-image: url("/home/tablet/image-graphic-design.jpg");
    }

    .design-card-title {
        font-size: 4rem;
        margin-bottom: 15px;
    }

    .home-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-page-hero {
        height: 840px;
        width: 90%;
        border-radius: 10px;
    }
    .home-page-hero-title {
        font-size: 4.8rem;
        line-height: 50px;
        margin-top: 60px;
    }

    .home-page-hero-text {
        font-size: 1.6rem;
    }

    .home-page-hero-img {
        height: 390px;
    }

    /* .home-page-design-links {
        width: 100%;
    } */
}

@media (min-width: 1440px) {
    .home-page {
        display: grid;
        grid-template-areas: 
        "hero hero"
        "design design"
        "values values";
        grid-template-columns: 50% 50%;
        grid-template-rows: 640px 900px 500px;
    }

    .home-page-hero {
       height: 640px;
       grid-area: hero;
       margin: 0 auto;
       width: 85%;
       justify-content: center;
       align-items: flex-start;
       padding-left: 120px;
    }

    .home-page-hero-link {
        margin-bottom: 70px;
    }

    .home-page-hero-img-container {
        position: absolute;
        right: 0px;
        bottom: 0px
    }
    
    .home-page-hero-img {
        height: 630px;
    }

    .home-page-hero-title {
        text-align: left;
    }

    .home-page-hero-text {
        text-align: left;
    }

    .home-page-design-links {
        flex-direction: initial;
        justify-content: initial;
        grid-area: design;
        height: 100%;
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "bigDesign smallDesign1"
        "bigDesign smallDesign2";
        padding-top: 100px;
        padding-bottom: 0px;
        align-items: center;
    }

    .home-page-values {
        grid-area: values;
        margin-bottom: 80px;
    }

    .web-design {
        min-height: 100%;
        width: 100%;
        background-image: url("/home/desktop/image-web-design-large.jpg");
    }

    .graphic-design {
        height: 47.5%;
        background-image: url("/home/desktop/image-graphic-design.jpg");
    }

    .app-design {
        height: 47.5%;
        background-image: url("/home/desktop/image-app-design.jpg");
    }

    .design-card-container-1 {
        width: 100%;
        height: 640px;
    }

    .design-card-container-2 {
        height: 640px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

  
}