<div>
    <a routerLink="/web-design" routerLinkActive="active-link" class="design-card-link web-design">
        <h2 class="design-card-title">web design</h2>
        <p class="design-card-cta">view projects <strong class="arrow">></strong></p>
    </a> 
</div>
<div>
    <a routerLink="/app-design" routerLinkActive="active-link" class="design-card-link app-design">
        <h2 class="design-card-title">app design</h2>
        <p class="design-card-cta">view projects <strong class="arrow">></strong></p>
    </a>

    <a routerLink="/graphic-design" routerLinkActive="active-link" class="design-card-link graphic-design"> 
        <h2 class="design-card-title">graphic design</h2>
        <p class="design-card-cta">view projects <strong class="arrow">></strong></p>
    </a>
</div>
   
